@import "./components/Navbar";
@import "./components/Home";
@import "./components/NextWeek";
@import "./components/CurrentWeather";
@import "./components/Favourite";
@import url("../assets/fonts/style.css");
@font-face {
  font-family: "segoe UI";
  src: url("../assets/fonts/Segoe\ UI.ttf");
}

@font-face {
  font-family: "League Spartan";
  src: url("../assets/fonts/LeagueSpartan-Regular.otf");
}

html {
  font-family: "League Spartan";
  font-weight: 200;
  font-size: 20px;
  line-height: 1;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  overflow-x: hidden;
  height: 100%;
}

.main-app {
  height: 100%;
}

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.error {
  margin-top: 50px;
}
