.weatherMain {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.details {
  max-width: 400px;
  position: relative;
  margin: 0 auto 60px;
  .cityDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .cityText {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;
      font-size: 110%;
      padding-top: 20px;
    }

    .cityTemp {
      font-size: 360%;
    }
  }
  @media (max-width: 767px) {
    margin: 40px auto;
  }
}

.fav-button {
  cursor: pointer;
  margin-top: 30px;
  .add-to-fav {
    width: fit-content;
    margin: 0 auto;
    display: inline-block;
    border: 2px solid #fff;
    padding: 7px 20px;
    border-radius: 100px;
    transition: 0.4s all;
    font-size: 90%;
    font-family: "Helvetica Now Display";
    letter-spacing: 0.5px;
  }

  .add-to-fav:hover {
    color: #000;
    background: #fff;
  }
}
