.favouriteHome {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 0 auto;
  padding: 60px 0;
  height: 100%;
  grid-gap: 40px;
  gap: 40px;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    padding: 60px 30px;
    gap: 50px;
    & > a {
      width: 100%;
    }
  }
}

.favouriteDetails {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 100%;
  position: relative;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #4f8dc05e;
  z-index: 5;
  border: 1px solid #4f8dc05e;
  justify-content: center;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 10px;
  }

  .favouriteIcon {
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    border: 1px solid #000;
    &::after {
      opacity: 1;
    }
  }

  .favourite {
    display: flex;
    flex-direction: column;
    font-size: 140%;
    justify-content: space-evenly;
    z-index: 10;
    grid-gap: 10px;
    gap: 10px;
    align-items: center;
  }
}

.noFavourite {
  margin-top: 50px;
  font-size: 240%;
  @media screen and (max-width: 767px) {
    font-size: 180%;
  }
}
