.navbar {
  position: sticky;
  font-family: "segoe UI";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  width: 100%;
  z-index: 800;
  transition: all 0.4s ease;
  font-size: 100%;
  letter-spacing: 1.6px;
  a {
    z-index: 850;
    color: white;
  }
  .appName {
    font-size: 140%;
    @media screen and (max-width: 767px) {
      flex-grow: 1;
      text-align: left;
      height: 35px;
    }
  }
}

.changeUnits2 {
  cursor: pointer;
  display: none;
  z-index: 2;

  @media screen and (max-width: 767px) {
    display: inline-flex;
    z-index: 920;
    margin-right: 40px;
  }
}

.navbar-items > .activated {
}

.navbar-items {
  display: flex;
  position: relative;
  list-style: none;
  align-items: center;
  gap: 40px;

  .changeUnits {
    cursor: pointer;
    position: relative;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #264260;
    border-bottom: 1px solid #fff;
    height: 180px;
    width: 100%;
    position: absolute;
    right: -100vw;
    top: 80px;
    opacity: 1;
    transition: all 0.6s ease;
  }

  a {
    color: white;
    text-decoration: none;
    width: fit-content;
    position: relative;
    cursor: pointer;
    font-size: 110%;
    letter-spacing: 1.6px;
    transition: all 0.3s ease;
    &::after {
      position: absolute;
      content: "";
      width: 0px;
      height: 2px;
      background: #fff;
      left: 0;
      bottom: -5px;
      transition: all 0.4s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.navbar-items.active {
  transition: all 0.6s ease;
  z-index: 750;
  a {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 767px) {
    right: 0;
  }
}

.burger-icon {
  display: none;
  z-index: 2;
  color: white;

  @media screen and (max-width: 767px) {
    display: inline-flex;
    cursor: pointer;
    z-index: 920;
  }
}
