.newWeek {
  .loading {
    margin: 0 auto;
  }
  @media (min-width: 767px) {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
  }
}

.nextWeek {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 110%;
  color: #444444;
  &:not(:last-child) {
    border-right: 2px solid #ffffff1c;
  }
  @media (min-width: 767px) {
    justify-content: center;
  }
  @media (max-width: 767px) {
    &:not(:last-child) {
      border-bottom: 2px solid #ffffff1c;
      border-right: none;
    }
    font-size: 90%;
  }

  .dayOfWeek {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    div {
      padding: 15px 0;
      width: 100%;
      @media (max-width: 767px) {
        width: 33.3%;
        padding: 2vh 0;
      }
    }

    @media (min-width: 767px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  #day {
    font-weight: 700;
  }
}
