.loader {
  width: 100%;
  height: var(--app-height);
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader .loader-logo {
  position: relative;
  transform: scale(1.5);
  margin-bottom: 100px;
}

.loader .loader-text {
  position: relative;
  color: #264260;
  font-size: 200%;
  font-family: "Helvetica Now Display";
}
